/* common styles */
.MMM-Clash-Royale .grayscale {
    -webkit-filter: grayscale(100%);
}
.MMM-Clash-Royale ul.cards  {
    list-style: none;
    padding: 0;
}

/* Elixir Cost badges */
.MMM-Clash-Royale ul.cards li div.image[data-badge]{
    position:relative;
}
.MMM-Clash-Royale ul.cards li div.image[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: 12%;
   left: 17%;
   font-size:1.3vw;
   color:white;
   width:10%;
   height:8%;
   text-align: center;
   line-height: 2vw;
}


/***********************************************/
/* Display cards horizontally if position is
/*  - top_bar, 
/*  - top_center 
/*  - upper_third
/*  - middle_center 
/*  - lower_third 
/*  - bottom_bar
/*  - bottom_center 
/***********************************************/
div.region.top.bar .MMM-Clash-Royale ul.cards,
div.region.top.bar div.region.top.center .MMM-Clash-Royale ul.cards,
div.region.upper.third .MMM-Clash-Royale ul.cards,
div.region.middle.center .MMM-Clash-Royale ul.cards,
div.region.lower.third .MMM-Clash-Royale ul.cards,
div.region.bottom.bar .MMM-Clash-Royale ul.cards,
div.region.bottom.bar div.region.bottom.center .MMM-Clash-Royale ul.cards {
    display: table;
    width: 100%;
    
    margin: 0px;
    padding: 0px;

    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
}
div.region.top.bar .MMM-Clash-Royale ul.cards li,
div.region.top.bar div.region.top.center .MMM-Clash-Royale ul.cards li,
div.region.upper.third .MMM-Clash-Royale ul.cards li,
div.region.middle.center .MMM-Clash-Royale ul.cards li,
div.region.lower.third .MMM-Clash-Royale ul.cards li,
div.region.bottom.bar .MMM-Clash-Royale ul.cards li,
div.region.bottom.bar div.region.bottom.center .MMM-Clash-Royale ul.cards li {
    flex-grow: 1;
    text-align: center;
    vertical-align: bottom;
}
div.region.top.bar .MMM-Clash-Royale ul.cards li img,
div.region.top.bar div.region.top.center .MMM-Clash-Royale ul.cards li img,
div.region.upper.third .MMM-Clash-Royale ul.cards li img,
div.region.middle.center .MMM-Clash-Royale ul.cards li img,
div.region.lower.third .MMM-Clash-Royale ul.cards li img,
div.region.bottom.bar .MMM-Clash-Royale ul.cards li img,
div.region.bottom.bar div.region.bottom.center .MMM-Clash-Royale ul.cards li img {
    width: 90%;
}



/***********************************************/
/* Display cards in 2x4 grid if position is
/*  - top_left, 
/*  - top_right, 
/*  - bottom_left 
/*  - bottom_right
/***********************************************/
div.region.top.left .MMM-Clash-Royale ul.cards,
div.region.top.right .MMM-Clash-Royale ul.cards,
div.region.bottom.left .MMM-Clash-Royale ul.cards,
div.region.bottom.right .MMM-Clash-Royale ul.cards {
    max-width: 200px;
    margin: 0;
    padding: 0;
}
div.region.top.left .MMM-Clash-Royale ul.cards li,
div.region.top.right .MMM-Clash-Royale ul.cards li,
div.region.bottom.left .MMM-Clash-Royale ul.cards li,
div.region.bottom.right .MMM-Clash-Royale ul.cards li {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;        
}
div.region.top.left .MMM-Clash-Royale ul.cards li img,
div.region.top.right .MMM-Clash-Royale ul.cards li img,
div.region.bottom.left .MMM-Clash-Royale ul.cards li img,
div.region.bottom.right .MMM-Clash-Royale ul.cards li img {
    width: 90%;
}